.logs-container {
    max-width: 1200px;
    margin: 50px auto;
    margin-bottom: 6rem;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logs-container h1 {
    color: #608455;
    text-align: center;
}

.logs-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.logs-table th, .logs-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

.logs-table th {
    background-color: #608455;
    color: #fff;
}

.logs-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.logs-table tr:hover {
    background-color: #f1f1f1;
}

.logs-table td {
    font-size: 14px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pagination button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin: 0 5px;

    &:hover {
        background-color: #f0f0f0;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

}
.pagination button.active {
    background-color: #28a745;
    color: #ffffff;
}